//Global Styles

body {
	background-color: $almost-black;
}

#header {
	width: 100%;
	text-align: left;
}

h1 a, h1 a:visited {
	font-family: 'Avenir', sans-serif;
	font-weight: 100;
  	background: -webkit-linear-gradient(bottom right, $melennial-pink-dark, $melennial-pink);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

}

h2 {
	color: $almost-black;
	font-family: 'Avenir', sans-serif;
	text-align: left;
	&.home {
		font-size: 16px;
    	text-transform: uppercase;
    	color: $medium-grey;
    	letter-spacing: 2px;
	}
}

h3 {
	color: $almost-black;
	font-family: 'Avenir', sans-serif;
	text-align: left;
}

h4 {
	color: $almost-black;
	font-family: 'Avenir', sans-serif;
	text-align: left;
}

p, label, ol, li {
	color: $almost-black;
	font-family: 'Avenir', sans-serif;
	line-height: 1.5em;
    font-size: 18px;
}

.wrapper {
	background-color: $white;
	padding: 2em 0;
}

.container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 18px;
}

#footer {
	padding: 2em 0;
	color: $white;
}

#footer h4 {
	font-weight: 100;
    color: $light-grey;
}

#footer .nav, .social_profiles__link {
	line-height: 30px;
}

.nav li {
	font-family: 'Avenir', sans-serif;
	color: $white;
	padding-right: 20px;
}

.nav a, 
a.tab, 
.nav a:visited, 
a.tab:visited {
	color: $white;
		border-bottom: 2px solid $almost-black;
		transition: all .15s linear;
}

.nav a:hover, 
.tab:hover {
	border-bottom: 2px solid $melennial-pink;
}

li.selected a {
	 border-bottom: 2px solid $melennial-pink;
}

a.love:hover {
	border-bottom: 2px solid $almost-black;
}

a {
	text-decoration: none;
	color: $medium-blue;

	&:visited {
		color: #034569;
	}
}

ul li{
	color: $almost-black;
	list-style-type: disc;
	font-family: 'Avenir', sans-serif;
	margin-left: 18px;
	}

nav ul li, ul.social_profiles  li {
	list-style-type: none;
	margin-left: 0px;

}

a {
	color: $bright-blue;

	&:visited {
		color: $medium-blue;
	}
}

a.social_profiles__link {
	color: $white;

	&:hover {
		color: $light-grey;
	}
}

.summary__link {
	text-align: left;
	font-family: 'Avenir', sans-serif;
    background-color: $almost-white;
    border: 2px solid $almost-white;
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .15s linear;
    display: block;

    &:hover {
    	background-color: $white;
    }
    h3 {
    	margin-top: 0px;
    }
}

.li_nav {
	list-style-type: none;
	margin-left: 0px;
}

//Posts Navigation

.col_left, .col_right {
	width: 50%;
}
.col_left {
	text-align: left;
	float: left;
}
.col_right {
	text-align: right;
	float: right;
}

.clearfix {
	clear: both;
}

//Post Styles

.date {
	text-align: left;
	font-size: 16px;
	color: $medium-grey;
	font-family: 'Avenir', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;

}

article ul li, article ol li {
	margin-left: 18px;
	&ul li {
		list-style-type: disc;
	}
}

article img {
	max-width: 300px;
	width: 100%;
}

article h1 {
	color: $almost-black;
	font-family: 'Avenir', sans-serif;
	text-align: left;
}

.quote {
	font-family: 'Avenir', sans-serif;
	text-align: left;
	max-width: 560px;
}

.quote__block {
	font-weight: bold; 
	border: 2px solid $almost-black; 
	border-radius: 5px;
	padding: 10px;
}

.show {
	display: block;
}

.note {
	background-color: $melly-belly-yellow;
	border-radius: 5px;
	padding: 15px;
	color: $almost-black;
}

.aside {
	background-color: $light-blue;
	border-radius: 5px;
	padding: 15px;
	color: $almost-black;
}

//Special Post Styles
.emoji, img[alt="emoji"] {
	width: 20px;
	}

.fa {
	font-size: 28px;
	padding: 8px;
	color: #034569;
}

.fa:hover {
	color: $medium-blue;
}

.fa-rebel {
	color: #FF3900;
	font-size: 12px;
}

.youtube {
	height: 200px;
}

.glyph {
	text-align: center;
	color: #A62500;
	display: block;
	font-size: 3ß0px;
}

.units {
	background-color: #ededed;
    padding: 2px 7px;
    display: inline-block;
    border-radius: 3px;
}

.multiplier {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Avenir', sans-serif;
}

//About Page Styles
.headshot {
	max-width: 250px;
    padding: 20px;
}

//Form Styles
input[type="submit"] {
	display: block;
	width: 100px;
	background-color: $white;
	color: $almost-black;
	border-right: none;
	border-top: none;
	border-left: none;
	font-size: 14px;
	padding-bottom: 6px;
	cursor: pointer;

}
form label, form input {
	display:block;
	width: 100%;
	margin: 10px 0 10px 0;
}


.inline {
	display:inline;
}

label.inline {
	width: 50%;
	margin-right: 10px;
}

select {
	font-family: 'Avenir', sans-serif;
    color: $almost-black;
    font-size: 16px;
    line-height: 27px;
    border-radius: 3px;
    border: 1px solid $light-grey;
    background-color: $white;
    width: 85%;
}
input[type="text"]  {
	width: 50px;
    font-family: 'Avenir', sans-serif;
    color: $almost-black;
    font-size: 16px;
    line-height: 27px;
    border-radius: 3px;
    border: 1px solid #ededed;
}

form {
	padding: 20px;
	border: 1px solid $light-grey;
	border-radius: 3px;
	min-height: 450px;
}

div[type="submit"] {
	background-color: #007536;
	color: $white;
	border-radius: 4px;
	border: 1px solid #007536;
	width: 50%;
	margin-top: 30px;
}

div[type="submit"]:hover {
	background-color: #00391a;
	border: 1px solid #00391a;
}

div[type="submit"] p {
	color: $white;
	text-align: center;
	font-family: 'Avenir', sans-serif;
}

#post-submit {
	background-color: #00391a;
		border: 1px solid #00391a;
}

//Hide Typekit
img.typekit-badge {
	display: none !important;
}

//Media Queries

@media only screen and (min-width : 600px) {
	h1 {font-size: 40px;}
	h2 {font-size: 32px;}
	h3 {font-size: 28px;}
	select {width: auto;}
	div[type="submit"] {width: 25%;}
	article img {max-width: 600px;}
	.youtube {height: 400px;}
	.container {padding: 0px;}
	.nav li {	display: inline; margin-bottom: 0px; line-height: 1em;}
	.headshot {float: right;}
}


//Make Some Images Less Wide on Desktop
img[alt="css"], img[alt="style editor"], img[alt="show icon"], img[alt="snail mail"] {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}
