body {
	background-color: #19191B;
}

#header {
	width: 100%;
	text-align: left;
}

.wrapper {
	background-color: #fff;
	padding: 2em 0;
}

.container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 18px;
}

#footer {
	padding: 2em 0;
	color: #fff;
}

#footer .nav, .social_profiles__link {
	line-height: 30px;
}

.nav li {
	font-family: 'Avenir', sans-serif;
	color: #fff;
	padding-right: 20px;
}

.nav a, 
a.tab, 
.nav a:visited, 
a.tab:visited {
	color: #fff;
		border-bottom: 2px solid #19191B;
		transition: all .15s linear;
}

.nav a:hover, 
.tab:hover {
	border-bottom: 2px solid #E75172;
}

a.love:hover {
	border-bottom: 2px solid #19191b;
}

.back {
	color: #086CA2;
	font-family: 'Avenir', sans-serif;
	display: inline;
}

a {
	text-decoration: none;
	color: #086CA2;

	&:visited {
		color: #034569;
	}
}

.summary__link {
	text-align: left;
	font-family: 'Avenir', sans-serif;
    background-color: #F8F8F8;
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #f8f8f8;
    display: block;
    transition: all .15s linear;

    &:hover {
    	background-color: #fff;
    }
    h3 {
    	margin-top: 0px;
    }
}


.li_nav {
	list-style-type: none;
}

.col_left, .col_right {
	width: 50%;
}
.col_left {
	text-align: left;
	float: left;
}
.col_right {
	text-align: right;
	float: right;
}

.clearfix {
	clear: both;
}

article ul li, article ol li {
	font-family: 'Avenir', sans-serif;
}

article ul li {
	list-style-type: disc;
}

article img {
	max-width: 300px;
	width: 100%;
}

li.selected a {
	 border-bottom: 2px solid #DD365E;
}


h1 a, h1 a:visited {
	font-family: 'Avenir', sans-serif;
	font-weight: 100;
  	background: -webkit-linear-gradient(bottom right, #AC3C55, #E75172);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

}

h2.home {
	font-size: 16px;
    text-transform: uppercase;
    color: #8c8c8d;
}

#footer h4 {
	font-weight: 100;
    color: #d1d1d1;
}

article h1 {
	color: #19191B;
	font-family: 'Avenir', sans-serif;
	text-align: left;
}

h2 {
	color: #19191B;
	font-family: 'Avenir', sans-serif;
	text-align: left;
}

h3 {
	color: #19191B;
	font-family: 'Avenir', sans-serif;
	text-align: left;
}

h4 {
	color: #19191B;
	font-family: 'Avenir', sans-serif;
	text-align: left;
}

.quote {
	font-family: 'Avenir', sans-serif;
	text-align: left;
	max-width: 560px;
}

p, label {
	color: #19191B;
	font-family: 'Avenir', sans-serif;
}
ul {
	color: #19191B;
	list-style-type: none;
	font-family: 'Avenir', sans-serif
	}
ul.social_profiles  li, ul.values_list li{
	list-style-type: none;
}
ul.bullets {
	list-style-type: disc;
	color: #105068;
}
a {
	color: #00A9E7;

	&:visited {
		color: #105068;
	}
}

a.social_profiles__link {
	color: #fff;

	&:hover {
		color: #d1d1d1;
	}
}

.show {
	display: block;
}

.headshot {
	max-width: 300px;
    float: right;
    padding: 20px;
}

/* form styles start here */
input[type="submit"] {
	display: block;
	width: 100px;
	background-color: #fff;
	color: #19191B;
	border-right: none;
	border-top: none;
	border-left: none;
	font-size: 14px;
	padding-bottom: 6px;
	cursor: pointer;

}
form label, form input {
	display:block;
	width: 100%;
	margin: 10px 0 10px 0;
}

/* hide Typekit badge */ 
img.typekit-badge {
	display: none !important;
}

.date {
	text-align: left;
	font-size: 18px;
	color: #19191B;
	font-family: 'Avenir', sans-serif;

}

.emoji, img[alt="emoji"] {
	width: 20px;
	}

.fa {
	font-size: 28px;
	padding: 8px;
	color: #034569;
}

.fa:hover {
	color: #086CA2;
}

.fa-rebel {
	color: #FF3900;
	font-size: 12px;
}

.youtube {
	height: 200px;
}

.glyph {
	text-align: center;
	color: #A62500;
	display: block;
	font-size: 3ß0px;
}
.inline {
	display:inline;
}

label.inline {
	width: 50%;
	margin-right: 10px;
}

select {
	font-family: 'Avenir', sans-serif;
    color: #19191B;
    font-size: 16px;
    line-height: 27px;
    border-radius: 3px;
    border: 1px solid #ededed;
    background-color: #ffffff;
    width: 85%;
}
input[type="text"]  {
	width: 50px;
    font-family: 'Avenir', sans-serif;
    color: #19191B;
    font-size: 16px;
    line-height: 27px;
    border-radius: 3px;
    border: 1px solid #ededed;
}

form {
	padding: 20px;
	border: 1px solid #ededed;
	border-radius: 3px;
	min-height: 450px;
}

div[type="submit"] {
	background-color: #007536;
	color: #fff;
	border-radius: 4px;
	border: 1px solid #007536;
	width: 50%;
	margin-top: 30px;
}

div[type="submit"]:hover {
	background-color: #00391a;
	border: 1px solid #00391a;
}



div[type="submit"] p {
	color: #fff;
	text-align: center;
	font-family: 'Avenir', sans-serif;
}

#post-submit {
	background-color: #00391a;
		border: 1px solid #00391a;
}

.units {
	  background-color: #ededed;
    padding: 2px 7px;
    display: inline-block;
    border-radius: 3px;
}

.multiplier {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Avenir', san-serif;
}

/* media queries start here */ 

@media only screen and (min-width : 600px) {
	h1 {font-size: 50px;}
	h2 {font-size: 40px;}
	h3 {font-size: 30px;}
	select {width: auto;}
	div[type="submit"] {width: 25%;}
	article img {max-width: 600px;}
	.youtube {height: 400px;}
	.container {padding: 0px;}
	.nav li {	display: inline; margin-bottom: 0px; line-height: 1em;}
}


/* force some images to be less wide on desktop */

img[alt="css"], img[alt="style editor"], img[alt="show icon"], img[alt="snail mail"] {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}
