$white: #fff;
$almost-white: #f8f8f8;
$light-grey: #d1d1d1;
$medium-grey: #8c8c8d;
$almost-black: #19191B;
$light-blue: #ccedfa;
$bright-blue: #00A9E7;
$medium-blue: #105068;
$melennial-pink: #E75172;
$melennial-pink-dark: #AC3C55;
$melly-belly-yellow: #EDFF8F;
