---
title: About
---

<article>
	<%= image_tag 'melanie.jpg', :class => 'round' %>
	<p>
		Hi, I'm Melanie. I write, develop web things, and work with <a target="_blank" href="http://rigor.com">Rigor</a>.
	</p>
	<p>
		This website started as my homework for <a href="http://techtalentsouth.com/#!/">Tech Talent South</a>. My posts here are personal.
	</p>
	<p class="centerly">
		<a href="https://twitter.com/MelanieCrissey"/><i class="fa fa-twitter"></i></a>
		<a href="http://instagram.com/melaniecrissey"/><i class="fa fa-instagram"></i></a>
		<a href="https://github.com/MelanieCrissey"/><i class="fa fa-github"></i></a>
			<a href="https://www.linkedin.com/in/melaniecrissey"/><i class="fa fa-linkedin"></i></a>
	</p>
</article>