---
title: About
---

<article>
<%= image_tag 'smileyBlackBG.jpg', :class => 'headshot' %>

<h2>My Story</h2>
<p>In 2011, <a href="/blog/get-here">a friend helped me land my first dream job</a> at a small tech company in Atlanta.</p>
<p>Since then, I've learned to code, survived three acquisitions, and seen firsthand <a href="https://medium.com/@MelanieCrissey/what-you-learn-working-in-early-stage-saas-startups-b2250a07211f">what it takes to grow and scale a startup</a>.</p>
<p>Early in my career, I fell in love with UX. Eventually, I learned to love CX, too. </p>
<p>These days, I work with a bunch of super-smart people who care about CX as much as I do, and it's pretty fantastic.</p>

<h2>This Blog</h2>
<p>I write so that I can keep track of what I'm learning, and so that I can connect with people over experiences.</p>
<p>I manage this static website with <a href="https://middlemanapp.com/">Middleman</a>.</p>

<h2>More Writing</h2>
<p>Sometimes I write for company blogs or other publications. It's all fun, but it's not all professional.</p>
<ul>
	<li class="li_nav">
		<a href="/writing-for-work" class="summary__link">
			<h4>Things I've Written Professionally</h4>
		</a>
	</li>
	<li class="li_nav">
		<a href="/writing-for-fun" class="summary__link">
			<h4>And Other Fun Stuff</h4>
		</a>
	</li>
</ul>