---
title: About
---

<article>
	<%= image_tag 'melanie.jpg', :class => 'round' %>
	<p>
	 Hi! I'm Melanie. I develop web things and work with <a href="http://rigor.com/">Rigor</a> at <a href="http://atlantatechvillage.com/">Atlanta Tech Village</a>. I live in Marietta with my husband <a href="http://alancrissey.com/about/">Alan</a>.
	</p>
	<p>
   My blog is personal and professional. I write about things I'm doing and things I'm learning. 
	</p>
	<p class="centerly">
		<a href="mailto:melaniecrissey@gmail.com"/><i class="fa fa-envelope"></i></a>
		<a href="https://twitter.com/MelanieCrissey"/><i class="fa fa-twitter"></i></a>
		<a href="http://instagram.com/melaniecrissey"/><i class="fa fa-instagram"></i></a>
		<a href="https://github.com/MelanieCrissey"/><i class="fa fa-github"></i></a>
		<a href="https://www.linkedin.com/in/melaniecrissey"/><i class="fa fa-linkedin"></i></a>
	</p>
</article>