---
title: About
---

<article>
<%= image_tag 'melanie.jpg', :class => 'round' %>
	<p>
	Hi!</p>

	<p>I'm Melanie Crissey.</p> 
	<p>I live in <a href="https://www.google.com/maps/search/big+chicken/">Marietta</a> with my husband <a href="http://alancrissey.com/about/">Alan.</a>
	</p>
	<p>I work with <a href="http://rigor.com">Rigor</a> at <a href="http://atlantatechvillage.com/">Atlanta Tech Village.</a></p>
	<p>
	I love to read, write, code, cook, and always be learning new things.
	</p>
	<p>
	Right now I'm working on a project called 90 Days of UX, and you can read all about that <a href="http://www.melaniecrissey.com/blog/90daysofux/">here</a>.
	</p>
	<p class="centerly">
		<a href="https://twitter.com/MelanieCrissey"/><i class="fa fa-twitter"></i></a>
		<a href="http://instagram.com/melaniecrissey"/><i class="fa fa-instagram"></i></a>
		<a href="https://github.com/MelanieCrissey"/><i class="fa fa-github"></i></a>
		<a href="https://www.linkedin.com/in/melaniecrissey"/><i class="fa fa-linkedin"></i></a>
	</p>
</article>