---
title: amUX
---

<p>Woo-hoo! Thank you for your interest in <i><a href="https://www.meetup.com/amuxatl/events/240297811/"> Delivering Seamless Experiences</a></i>.</p>

<h2>Resources</h2>

<ul>
  <li>“The experience goes beyond a screen.” <a href="https://twitter.com/inkpixelspaper/status/870804007090049024">Jared Spool.</a></li>
  <li>“Writing helps the writer consider things at a deeper level.” <a href="https://m.signalvnoise.com/how-we-set-up-our-work-cbce3d3d9cae">Jason Fried, Basecamp</a></li>
  <li>Get the Feature Brief Template. <a href="https://docs.google.com/presentation/d/1Yv0gdPzBPXPSViBdm8PM4UxkAZY7KUvzHzhrSCiqPIw/edit?usp=sharing">View in Google Slides</a> or <a href="/resources/feature-brief-template.pdf">Download as a PDF.</a> </li>
</ul>
