---
title: Blog
---

<% blog.articles.each do |article| %>
  <article>
    <h2>
      <a href="<%= article.url %>"><%= article.title %></a>
    </h2>
    <time class="date"><%= article.date.strftime('%e %B %Y') %></time>
  </article>
  <hr>
<% end %>