---
title: Blog
---

<p>Here's a list of all of the blog posts.</p>

<% blog.articles.each do |article| %>
  	<article class="summary">
	  	<a href="<%= article.url %>" class="summary__link">
		    <h3><%= article.title %></h3>
		    <time class="date"><%= article.date.strftime('%e %B %Y') %></time>
	    </a>
  	</article>
<% end %>