---
title: elevate
---

<p>Hoozah! So glad you're here. I've posted some resources related to "How All-Hands Support Wrecks Lives and Makes Better Humans," a talk put together for <a href="http://elevatesummit.co/">Elevate Support conference</a> in Denver, Colorado, 6 and 7 October 2017.</p>

<h2>Resources</h2>

<ul>
<li><a href="https://zapier.com/learn/customer-support/everyone-on-support/"><i>All Hands Support: Why Everyone–Even Executives–Should Spend Time in Customer Service</i></a> by Wade Foster, Zapier</li>
<li><a href="https://www.kayako.com/blog/all-hands-support/"><i>All Hands Support Will Never Work for Your Business</i></a> by Adam Rogers, Kayako</li>
<li><i>Support Structures Survey,</i> 30 September 2017, <a href="<a href="https://docs.google.com/spreadsheets/d/1wiAbB2wGgpTLdq3jibMWedcsdgU6SVhkh6lUsZ6pI8M/edit?usp=sharing">view data in Google Sheets</a></li>
<li><a href="https://drive.google.com/file/d/0B963RgV9emMkTzBoZTU0ZFpmeXNicUxXRDhDdFpDajlBUkpB/view?usp=sharing">View or download slides from Google Drive</a></li>
</ul>
