---
title: Home
---

<p>Lives in the ‘burbs. Loves Atlanta startups. Works with <a href="https://fullstory.com">FullStory.</a>
Cares about user experience (UX) and customer experience (CX).
Also, writes blog posts.</p>

<h2 class="home">Recent Posts</h2>
<% blog.articles[0...3].each do |article| %>
  	<article class="summary">
	  	<a href="<%= article.url %>" class="summary__link">
		    <h3><%= article.title %></h3>
		    <time class="date"><%= article.date.strftime('%e %B %Y') %></time>
	    </a>
  	</article>
<% end %>
<p><a href="/blog">See more posts...</a></p>
