---
title: Love
---

<h2> Favorite Things</h2>
<p>This is just a list of things that I love, in no particular order of importance:</p>
<ul class="bullets">
	<li>
		<a href="http://alancrissey.com">This guy</a>
	</li>
	<li>
		<a href="https://www.instagram.com/explore/tags/piperthehyperpupper/">This pup</a>
	</li>
	<li>
		<a href="http://www.hadleysphoto.com/index">Hadley(s) Photography</a> —thanks for the headshot, y'all! 
	</li>
	<li>
		<a href="http://earlsmithstrand.org/">The Strand Theatre</a> —see a show or make a donation
	</li>
	<li>
		<a href="http://bittersoutherner.com/">The Bitter Southerner</a> —become a member of the family
	</li>
	<li>
		<a href="https://femsplain.com/donate-to-femsplain-b47639f7f2dd">Femsplain</a> —go support this community
	</li>
</ul>