---
title: werisetech
---

<p>Wow! Thank you for your interest in <i><a href="https://werise.tech/sessions/2017/4/16/what-you-learn-working-with-early-stage-saas-startups"> What You Learn Working With Early-stage SaaS Startups</a></i>.</p>

<h2>Resources</h2>

<ul>
  <li><a href="https://medium.com/@MelanieCrissey/what-you-learn-working-in-early-stage-saas-startups-b2250a07211f">Read the original blog post on Medium</a>.</li>
  <li>Get the Career Timeline Template. <a href="https://docs.google.com/presentation/d/1c9r3qwzD5yJ8XucL0ecpL7HD2Eel1aPfLrBbf4JR7e8/edit?usp=sharing">View in Google Slides</a> or <a href="/resources/CareerTimeline.pdf">Download as a PDF.</a> </li>
</ul>
