---
title: Work
---

Write

Code


<article>
	<h1>Tech Talent South</h1>
		<p class="date">Spring 2014
		</p>
		<p>
		I participated in a part-time code immersion class with a focus on Ruby on Rails.
		</p>
</article>
<hr/>