---
title: Work
---
<article>
	<h1>Tech Talent South</h1>
		<p class="date">Spring 2014
		</p>
		<p>
		I participated in a part-time code immersion class with a focus on Ruby on Rails. My homework assignments are up on <a target="_blank" href="https://github.com/MelanieCrissey/TechTalentSouth">GitHub</a>.
		</p>
</article>
<hr/>