---
title: Writing for Work
---

<h2>Professional Writing</h2>

<h3>Web Performance, Technology, and UX</h3>

<p>From 2013 to 2017, I wrote about web performance and technology for Rigor.</p>
<ul>
	<li><a href="http://rigor.com/blog/2017/01/6-digital-transformation-trends-to-embrace-in-2017">6 Digital Transformation Trends to Embrace for 2017</a></li>
	<li><a href="http://rigor.com/blog/2017/01/managing-third-party-services">Managing Third Party Services</a></li>
	<li><a href="http://rigor.com/blog/2016/12/optimization-saas-business-devops">Optimization for SaaS: Works for Business and DevOps</a></li>
	<li><a href="http://rigor.com/blog/2016/12/image-optimization-gains-response-time">Image Optimization and Response Time</a></li>
	<li><a href="http://rigor.com/blog/2016/12/bandwidth-internet-connections-web-performance">Bandwidth, Internet Connections, and Web Performance</a></li>
	<li><a href="http://rigor.com/blog/2016/11/wit-girls">3 Lessons Learned Teaching Web Performance to WIT Girls</a></li>
	<li><a href="http://rigor.com/blog/2016/10/improve-user-experience-with-web-performance-data">How to Improve User Experience with Web Performance Data</a></li>
	<li><a href="http://rigor.com/blog/2016/10/write-tests-monitor-user-flows">How to Write Tests to Monitor User Flows</a></li>
	<li><a href="http://rigor.com/blog/2016/10/catch-performance-bugs-in-ci">Catch Performance Bugs in Continuous Integration</a></li>
	<li><a href="http://rigor.com/blog/2016/09/7-takeaways-from-velocity-ny-2016">7 Takeaways from Velocity NY 2016</a></li>
	<li><a href="http://rigor.com/blog/2016/09/monitoring-apis-authentication">Monitoring APIs with Authentication</a></li>
	<li><a href="http://rigor.com/blog/2016/09/monitoring-api-slas">Monitoring APIs with SLAs</a></li>
	<li><a href="http://rigor.com/blog/2016/09/leverage-caching-for-performance">How to Leverage Cacheing for Performance</a></li>
	<li><a href="http://rigor.com/blog/2016/07/why-monitoring-apis-is-important">Why Monitoring APIs is Important</a></li>
	<li><a href="http://rigor.com/blog/2014/01/case-for-friendly-reliable-shopping-carts">The Case for Friendly, Reliable Shopping Carts</a></li>
</ul>

<h3>Technical Writing</h3>
<p>While working with Rigor, I wrote a set of technical documentation for the application and managed the Knowledge Base at <a href="http://help.rigor.com">help.rigor.com.</a></p>

<h3>Technical Editing</h3>
<p>I've worked as a technical editor on two Wiley publications:</p>
<p><a href="https://www.amazon.com/Marketing-Automation-Dummies-Mathew-Sweezey/dp/1118772229">Marketing Automation for Dummies</a>, 14 April 2017</p>
<p><a href="https://www.amazon.com/Account-Based-Marketing-Dummies-Sangram-Vajre/dp/1119224853/">Account-based Marketing for Dummies</a>, 25 April 2016</p>