---
title: Writing for Fun
---

<h2>Other Writings</h2>

<h3><span style="font-style: italic;"><a href="https://medium.com/stay-shiny-marietta">The Box Drop in Review</a></span></h3>
<p>Every year, the Marietta Square has a New Year's Eve countdown. I write reviews.</p>
<ul>
	<li><a href="https://medium.com/stay-shiny-marietta/suited-2b15546e076f">Suited,</a> 1 January 2017</li>
	<li><a href="https://medium.com/stay-shiny-marietta/it-was-a-first-or-at-least-the-first-as-far-as-i-can-remember-1e0a09c3b72d">Shiny,</a> 1 January 2016</li>
</ul>

<h3>Contributor to <span style="font-style: italic;"><a href="http://besoutherly.com/">Southerly</a></span></h3>

<p><span style="font-style: italic;">SOUTHERLY: Downtown Marietta</span> is a lifestyle magazine celebrating the historic district of the Marietta Square in Marietta, Georgia.</p>
<ul>
	<li><a href="http://besoutherly.com/articles/soul-man/">Soul Man: Zaib Khan</a></li>
	<li><a href="http://besoutherly.com/articles/editorials/bountiful_harvest/">Bountiful Harvest: Reconnecting Families breaks ground on a special kind of community garden.</a></li>
</ul>

<h3>Contributor to <span style="font-style: italic;"><a href="https://femsplain.com/about">Femsplain</a></span></h3>
<p><span style="font-style: italic;">Femsplain</span> is an online publication and community that inspires discussion and connection through storytelling by amplifying the voices of trans/cis women, and gender nonconforming individuals.</p>
<ul>
	<li><a href="https://femsplain.com/wednesday-was-your-last-day-fd89c5ae1f96">Wednesday Was Your Last Day</a></li>
</ul>
